*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, nav, .article_area, .right_area, footer{
    background-color: #FEE998;
    border: 1px solid #D38C1E;
    border-radius: 5px;
    padding: 5px;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
.article_area{
    grid-area: article_area;
}
.sidebar{
    grid-area: sidebar;
}
footer{
    grid-area: footer;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header header header"
    "nav    main   main   sidebar"
    "nav main main advertise"
    "footer footer footer footer"
    ;
}

@media screen and (max-width:576px){
    .container{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "sidebar"
        "footer"
        ;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px){
    .container{
        display: grid;
        grid-template-areas: 
        "header  header header"
        "nav     nav    nav"
        "sidebar main   main"
        "footer  footer  footer"
        ;
    }
    
}